{% extends 'admin.html.twig' %}

{% block title %}Edit {{ blog.name }}{% endblock %}

{% block body %}
    <section class="padding">
        <header class="split center">
            <h1>Edit {{ blog.name }}</h1>
            <div class="cluster">
                <a class="button ghost" href="{{ path('app_blog_index') }}">Back to list</a>
                {{ include('blog/_delete_form.html.twig') }}
            </div>
        </header>
        <div class="card-body">
            {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </section>
{% endblock %}
